{% extends "fuerdai/base.html" %}{% load static %}

<!-- 退款记录 -->
{% block content %}
	<div class="col-xs-15 col-md-10">
	  <ol class="breadcrumb">
	    <li><a href="#">财务管理</a></li>
	    <li class="active"><a href="#">退款记录</a></li>
	  </ol>
	  {% block search %}
	  <div class="container-fluid search ">
		<div class="row">
			<div class="col-xs-3">
				<div class="input-group date form_datetime2" data-date-format="yyyy MM dd - hh:ii" data-date="yyyy MM dd - hh:ii" date-stardivate="2013 02 21 - 15:25" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly disabled="disabled" placeholder="日期搜索">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
			</div>
			<button type="button" class="btn btn-primary col-xs-1">搜索</button>
			<button type="button" class="btn btn-primary col-xs-1 addbtn">下载</button>
		</div>
	  </div>
	  {% endblock %}

	  {% block table %}
	  <div class="table-responsive spacing-top">
		<table class="table table-condensed">
			<tr>
			  <td><input type="checkbox" class="all-check"></td>
			  <td>众筹序列号</td>
			  <td>退款金额</td>
			  <td>消费订单编号</td>
			  <td>消费时间</td>
			  <td>发起众筹用户id</td>
			  <td>退款原因</td>
			  <td>退款途径</td>
			</tr>
			<tr>
			  <td ><input type="checkbox" class="select-check" ></td>
			  <td>55699987441233</td>
			  <td>58</td>
			  <td>896247111</td>
			  <td>2015.6.7-15:7</td>
			  <td>8873399</td>
			  <td>众筹退款</td><!-- 众筹退款/消费未满预计金额退款/众筹未消费退款 -->
			  <td>支付宝</td><!-- 支付宝/百度/微信 -->
			</tr>
		</table>
		{% block pagination %}
		  <nav class="clearfix">
		    <ul class="pagination">
		      <li>
		        <a href="#" aria-label="Previous">
		          <span aria-hidden="true">&laquo;</span>
		        </a>
		      </li>
		      <li><a href="#">1</a></li>
		      <li><a href="#">2</a></li>
		      <li><a href="#">3</a></li>
		      <li><a href="#">4</a></li>
		      <li><a href="#">5</a></li>
		      <li>
		        <a href="#" aria-label="Next">
		          <span aria-hidden="true">&raquo;</span>
		        </a>
		      </li>
		    </ul>
		    <div class="pagination-item">
		    	<span class="">选择当前数量：<em>112</em>页</span>
		    	<span class="spacing">选择全部：<em>112</em>页</span>
		    </div>
		 </nav>
		{% endblock %}
	  </div>
	  {% endblock %}
	</div>
{% endblock %}


