{% extends "fuerdai/base.html" %}{% load static %}

<!-- 非认证门店管理 -->
{% block content %}
	<div class="col-xs-15 col-md-10">
	  <ol class="breadcrumb">
	    <li class="active"><a href="#">非认证门店管理</a></li>
	  </ol>
	  {% block search %}
	  <div class="container-fluid search ">
		<div class="row">
			<div class="col-xs-2">
				<input type="text" class="form-control" placeholder="商户搜索"><!-- 做模糊搜索 -->
			</div>
			<div class="col-xs-2">
				<select class="form-control">
				  <option>商铺类别</option>
				  <option>美食</option>
				  <option>美容美发</option>
				  <option>娱乐</option>
				  <option>其他</option>
				</select>
			</div>
			<div class="col-xs-2">
				<select class="form-control">
				  <option>具体类别</option>
				  <option>火锅</option>
				  <option>烧烤</option>
				</select>
			</div>
			<div class="col-xs-2">
				<select class="form-control">
				  <option>城市</option>
				  <option>杭州</option>
				  <option>广东</option>
				</select>
			</div>
			<button type="button" class="btn btn-primary col-xs-1">搜索</button>
			<button type="button" class="btn btn-primary col-xs-1 addbtn">下载</button>
			<button type="button" class="btn btn-primary col-xs-1 addbtn"><a href="/add_unattuned_shop/"><span class="glyphicon glyphicon-plus"></span>新增</a></button>
		</div>
	  </div>
	  {% endblock %}

	  {% block table %}
	  <div class="table-responsive spacing-top">
		<table class="table table-condensed">
			<tr>
			  <td><input type="checkbox" class="all-check"></td>
			  <td>门店</td>
			  <td>门店类别</td>
			  <td>具体类别</td>
			  <td>城市</td>
			  <td>商圈</td>
			  <td>营业时间</td>
			  <td>添加人</td>
			  <td>操作</td>
			</tr>
			<tr>
			  <td><input type="checkbox"  class="select-check"></td>
			  <td>外婆家</td>
			  <td>杭州</td>
			  <td>万达</td>
			  <td>美食</td>
			  <td>炒菜</td>
			  <td>10:00-22:00</td>
			  <td>小胖</td>
			  <td><a  href="/unattuned_shop_item/" class="cur-ico">查看</a><span class="glyphicon glyphicon-remove spacing remove-td"></span></td>
			</tr>
		</table>
		{% block pagination %}
		  <nav class="clearfix">
		    <ul class="pagination">
		      <li>
		        <a href="#" aria-label="Previous">
		          <span aria-hidden="true">&laquo;</span>
		        </a>
		      </li>
		      <li><a href="#">1</a></li>
		      <li><a href="#">2</a></li>
		      <li><a href="#">3</a></li>
		      <li><a href="#">4</a></li>
		      <li><a href="#">5</a></li>
		      <li>
		        <a href="#" aria-label="Next">
		          <span aria-hidden="true">&raquo;</span>
		        </a>
		      </li>
		    </ul>
		    <div class="pagination-item">
		    	<span class="">选择当前数量：<em>112</em>页</span>
		    	<span class="spacing">选择全部：<em>112</em>页</span>
		    </div>
		 </nav>
		{% endblock %}
	  </div>
	  {% endblock %}
	</div>
{% endblock %}


