{% extends "fuerdai/base.html" %}{% load static %}

<!-- 店小二详情 -->
{% block content %}
	<div class="col-xs-15 col-md-10">
	  <ol class="breadcrumb">
	    <li><a href="#">商铺管理</a></li>
	    <li><a href="/waiter/">店小二管理</a></li>
	    <li class="active"><a href="#">店小二详情</a></li>
	  </ol>
	  {% block ticking-form %}
	  <form action="" method="" id="">
		  <div class="tableshow container-fluid">
			<div class="row">
			  <div class="col-md-2">店小二id</div>
			  <div class="col-md-10"><input type="text" disabled="disabled"></div>
			</div>
			<div class="row">
			  <div class="col-md-2">姓名</div>
			  <div class="col-md-10"><input type="text" id="" disabled="disabled"></div>
			</div>
			<div class="row">
			  <div class="col-md-2">手机号码</div>
			  <div class="col-md-10"><input type="text" id="" disabled="disabled"></div>
			</div>
			<div class="row">
			  <div class="col-md-2">昵称</div>
			  <div class="col-md-10"><input type="text" disabled="disabled"></div>
			</div>
			<div class="row">
			  <div class="col-md-2">当前所在门店</div>
			  <div class="col-md-10 clearfix">
				  <input type="text" class="fl-left" disabled="disabled"><span class="glyphicon glyphicon-search search-ico"></span>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-2">店小二类型</div>
			  <div class="col-md-10">认证店小二</label>
			  </div>
			</div>
		  </div>
		  <div class="extra container-fluid tableshow">
				<div class="row">
				  <div class="col-md-2">身份证号码</div>
				  <div class="col-md-10"><input type="text" disabled="disabled"></div>
				</div>
				<div class="row">
				  <div class="col-md-2">身份证正面照片</div>
				  <div class="col-md-10"><input type="file" id=""></div>
				</div>
				<div class="row">
				  <div class="col-md-2">身份证反面照片</div>
				  <div class="col-md-10"><input type="file" id=""></div>
				</div>
				<div class="row">
				  <div class="col-md-2">手持身份证照片</div>
				  <div class="col-md-10"><input type="file" id=""></div>
				</div>
		  </div>
		  <button type="button" class="btn btn-primary centered"><a href="add_waiter">编辑</a></button>
	  </form>
	  {% endblock %}
	</div> 
{% endblock %}





